<div class="welcome">

  <section class="section section--hero">
  <div class="wrapper">

    <header class="hero-header">
      
      <ul class="hero-header-item hero-download">
  <li>
    <div class="bd-placeholder-img">
    <%= image_tag('mot_written_logo.png', width: '120px', height: '20px') %>
  </div>
  </li>
  <li>
    <span class="version">2.0.0</span>
    <a href="/releases">Release notes</a>
  </li>


    <li>
      <span class="platform">Windows</span>
      <span class="support">For 64-bit Windows 7 or later</span>
    </li>
    <li>
      <a href="/signup" class="welcome-button js-download-button"> <span class="octicon octicon-move-down"></span>Sign up</a>
    </li>


</ul>

<p class="hero-meta">
  <span class="hero-tos">
    By signing up, you agree to the <a href="/#">Terms and Conditions</a>.
  </span>
</p>

    </header>

    <div class="hero-features">
      <h1 class="hero-tagline">A beautiful <span class="hero-tagline-highlight">device</span> for the 21st Century</h1>
    </div>

    <img class="hero-octonaut" src="https://github-atom-io-herokuapp-com.freetls.fastly.net/assets/index-octonaut-8ece2623b8966578e2414c89b7b7190cb56339d1f8b7d260adf62110ce9f39c4.svg" />

  </div>
</section>